@import url(https://fonts.google.com/specimen/Expletus+Sans?query=NTO);


body{
	height: 100%; 
	font-family: 'Expletus Sans', cursive;
    background-color: white;
	background-size: cover;
	}
/* barra de navegación */

header{
    background-color: rgb(255, 192, 203);
    max-width: 100%;
    height: 81px;
    display: flex;
	padding:5px;
	}

#navbar li{
	background-color: none;
	text-align: center;
	padding-top:5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
    list-style-type: none;
	color: rgb(0, 0, 0);
	font-size: 20px;
	display: inline;
	}

#navbar li a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	}

#navbar li a:hover{
    background-color: rgb(214, 197, 197);
	}

h1{
	text-align: center;
    margin-top: auto;
    margin-left:auto;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color: rgb(0, 0, 0);
	}

.boton {
    margin-left: auto;
	}

button{
    background: rgb(206, 137, 183);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    }


    /* carrusel */

.slide{
    display: flex;
    position: relative;
    max-width: 100%;
    object-fit: cover;
    border-radius: 6px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    animation-name:autoplay;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    }

.item-slide img{
    width: 250px;
    height: 250px;
    text-align: center;
    padding-left: 5px; 
    padding-right: 5px;  
    }
    
    @keyframes autoplay{
    100%{
            transform: translate3d(calc(100% *0.1), 0, 0);
        }}


/* contenido principal(section) */

h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
	font-size: 60px;
    }

p{
    font-size: 20px; 
    color: rgb(0, 0, 0); 
    text-align: center;
    }

.card{
    max-width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 200px;
    }

.cardPerfil{
    width: 310px;
    padding: 20px;    
    }

.cardPerfil:hover{
    border: solid rgb(3, 133, 255) 2px;
    }

.cardPerfil .boton{
    text-align: right;
    }
    
.cardNombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.cardNombre img{
    width:200px;
    height:200px;
    border-radius:160px;
    border:5px solid rgb(255, 255, 255);
    }

.cardDescripcion{
    text-align: justify;
    }


/* galería  inferior */

.galeria{

    display: flex;
    justify-content:center;   
    }

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    padding-left: 5px; 
    padding-right: 5px;   
    }

.img {
    object-fit: cover;
    width: 100%;
    height: 80%; 
    border-radius: 10px;          
    }
 
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    }

    /* Páginas aledañas*/
.construccion{
    text-align: center;
}

/* pie de página */

footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(255, 192, 203);
    max-width: 100%;
    max-height: fit-content;
    padding:10px;
    }
      
.footer{
	display:inline-flex;
	width:auto;
	height:50px;
	margin:10px;
    padding-top:5px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 5px;
    overflow:hidden;
    }


   
      